<header class="tb-header container-fluid">
    <div class="container">
        <div class="col-xs-6 col-sm-4">
            <a href="#/" class="logo">
                <img src="assets/img/logo_zipmesh_topo.png" alt="Brand Zipmesh" width="119" height="37">
            </a>
            <div class="city hidden-xs">
                <i class="fa fa-map-marker" aria-hidden="true"></i> Davis
            </div>
        </div>
        <div class="col-xs-6 col-sm-8">
            <a href="#/signin-login" class="btn signin">Sign in</a>
            <ul class="how-it-works hidden-xs">
                <li><a href="#">How it works</a></li>
                <li class="sft">Shopping For Tomorrow</li>
            </ul>
        </div>
    </div>
    <div class="tb-navigation container-fluid">
        <div class="container">
            <div class="col-xs-2 col-sm-2 col-md-8 col-lg-8">
                <nav class="principal-menu-container container-fluid">
                    <ul id="principal-menu" class="tb-menu hidden-sm hidden-xs">
                        <li><a href="#">Fruit</a></li>
                        <li><a href="#">Vegetable</a></li>
                        <li><a href="#">Greens</a></li>
                        <li><a href="#">Herbs</a></li>
                        <li><a href="#">Flowers</a></li>
                        <li><a href="#">Dairy</a></li>
                        <li><a href="#">Dried fruits and nuts</a></li>
                    </ul>
                </nav>
                <a href="" class="nav-mobile hidden-md hidden-lg" ng-click="toggleManu()"><img src="assets/img/ic_dehaze_black_24px.svg" width="18" /></a>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-4">
                <div class="col-xs-6 col-sm-8">
                    <form class="search ">
                        <md-input-container md-no-float class="md-block">
                            <input ng-model="data.search" type="text" placeholder="I'm looking for...">
                        </md-input-container>
                    </form>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="cart-widget">
                        <a href="#/cart" class="cart-ico">
                            <img src="assets/img/cart-icon.svg" width="21" />
                            <span class="number round" ng-show="cart!=0">{{cart}}</span>
                        </a>
                    </div>
                    <div class="search-widget">
                        <a href="#" class="btn-show-search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="btn-close-search hide">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-12 menu-xs" ng-hide="custom">
        <nav class="principal-menu-container container-fluid">
            <ul id="principal-menu" class="tb-menus hidden-sm-up">
                <li><a href="#">Fruit</a></li>
                <li><a href="#">Vegetable</a></li>
                <li><a href="#">Greens</a></li>
                <li><a href="#">Herbs</a></li>
                <li><a href="#">Flowers</a></li>
                <li><a href="#">Dairy</a></li>
                <li><a href="#">Dried fruits and nuts</a></li>
            </ul>
        </nav>
    </div>

</header>