<div ng-include="'assets/html/header.html'"></div>

<div id="account">

    <div class="account-info container-fluid">
        <div class="container">
            <aside class="col-sm-3">
                <nav class="sidebar-navigation container-fluid">
                    <ul>
                        <li><a href="#/account-info"><i class="fa fa-user" aria-hidden="true"></i>Account info</a></li>
                        <li><a href="#/account-address" class="active"><i class="fa fa-location-arrow" aria-hidden="true"></i>Address</a></li>
                        <li><a href="#/account-notifications"><i class="fa fa-bell" aria-hidden="true"></i>Notifications</a></li>
                    </ul>
                </nav>
            </aside>
            <div class="col-sm-9">
                <div class="title container-fluid">
                    <h2>Address</h2>
                </div>
                <div class="content-info container-fluid">
                    <!-- form do angular material -->
                    <div class="col-sm-6">
                        <md-input-container class="md-block">
                            <label>Address line 1</label>
                            <input ng-model="address.line1" aria-hidden="true">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Address line 2</label>
                            <input ng-model="address.line2" aria-hidden="true">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Zip Code</label>
                            <input ng-model="address.zipcode" aria-hidden="true" type="number">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Delivery Instructions</label>
                            <textarea ng-model="address.instructions" md-maxlength="300" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                    </div>
                </div>
                <div class="content-info container-fluid">
                    <a href="" class="btn" ng-click="showSimpleToast()">Save</a>
                    <a href="" class="feat">+ Address</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div ng-include="'assets/html/footer.html'"></div>