<div ng-include="'assets/html/header.html'"></div>
<section class="container-fluid tb-presentation">
    <div class="container">
        <div class="col-sm-12">
            <hgroup>
                <h1>Healthy, local, </br>seasonal food, delivered</h1>
                <h2>While you eat breakfast, we're harvesting your dinner</h2>
            </hgroup>
        </div>
    </div>
    <div class="container-960">
        <div class="col-sm-4 about-grid hidden-xs">
            <figure class="ico">
                <img src="assets/img/icon_youshop.png">
            </figure>
            <h3>You shop</h3>
            <p>From local farms</br> and artisan producers</p>
        </div>
        <div class="col-sm-4 about-grid hidden-xs">
            <figure class="ico">
                <img src="assets/img/icon_weaddsmagic.png">
            </figure>
            <h3>We adds magic</h3>
            <p>Your order is harvested,</br> prepared & delivery</p>
        </div>
        <div class="col-sm-4 about-grid hidden-xs">
            <figure class="ico">
                <img src="assets/img/icon_everyonewins.png">
            </figure>
            <h3>Everyone wins</h3>
            <p>You get the freshest food,</br>direct from your community</p>
        </div>
    </div>
    <div class="col-xs-12">
        <a href="#" class="btn round shop-now">
        SHOP NOW
    </a>
    </div>
    <div class="col-xs-12">
        <a href="#">Learn More</a>
    </div>
</section>

<section class="container-fluid our-producers">
    <div class="container">
        <div class="col-sm-12 title">
            <h2>Shop directly from our farmers</h2>
            <span>and artisans</span>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="#"><img src="assets/img/farmer1.png" class="img-responsive" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="#"><img src="assets/img/farmer2.png" class="img-responsive" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="#"><img src="assets/img/farmer3.png" class="img-responsive" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="#"><img src="assets/img/farmer4.png" class="img-responsive" /></a>
        </div>
        <div class="col-sm-12">
            <a href="#" class="btn more">And a dozen more</a>
        </div>

    </div>
</section>

<section class="container-fluid our-promisses hidden-xs">
    <div class="container-960">
        <div class="col-sm-12">
            <h2>Our Promisses</h2>
        </div>
        <div class="col-sm-3">
            <figure>
                <img src="assets/img/ico-beauty.svg" height="75" />
            </figure>
            <h3>Beauty</h3>
            <span>We put time, thought, and love into every detail of our service.</span>
        </div>
        <div class="col-sm-3">
            <figure>
                <img src="assets/img/ico-trulylocal.svg" height="75" />
            </figure>
            <h3>Truly Local</h3>
            <span>The products you find on Zipmesh  are all from farms and artisans in our region. </span>
        </div>
        <div class="col-sm-3">
            <figure>
                <img src="assets/img/ico-freshest.svg" height="75" />
            </figure>
            <h3>The Freshest</h3>
            <span>We’re the only place that lets you order produce before it is harvested or produced.</span>
        </div>
        <div class="col-sm-3">
            <figure>
                <img src="assets/img/ico-healthy.svg" height="75" />
            </figure>
            <h3>Healthy</h3>
            <span>We offer natural, organic foods free from additives or genetic modifications.</span>
        </div>
    </div>
</section>

<section class="container-fluid new-in-season">
    <div class="container-960">
        <div class="col-sm-12 title">
            <h2>New & In Season</h2>
        </div>

        
        <!--       PRODUCT 01-->
              <div class="col-xs-6 col-sm-3">
            <div class="col-xs-11 col-sm-11 product_top" ng-hide="isSelected(1)">
          
                    <h5>{{title_product1}}</h5>
                <h6>{{total_producer1}}</h6>
                <figure>
                    <img src="{{image_product1}}" alt="{{title_product1}}">
                </figure>
            </div>
            <div class="col-xs-11 col-sm-11 product_bottom" ng-hide="isSelected(1)">
                <div class="col-sm-8">
                    <h5>{{count_product1}} {{unit_product1}}</h5>
                    <h6>From <span>${{value1_product1}}</span> to <span>${{value2_product1}}</span></h6>
                </div>
                <div class="col-sm-3" ng-show="total() < 1">
                    <a href="" class="btn farm" ng-click="selectTab(1)">+ Farm</a>
                </div>
                <div class="col-sm-3" ng-show="total() >= 1">
                    <a href="" class="btn farm active" ng-click="selectTab(1)">{{total()}} added</a>
                </div>
                  </div>

            <!--                        <div class="col-xs-11 col-sm-11 product_top_list">-->
            <div class="col-xs-11 col-sm-11 product_top_list" ng-show="isSelected(1)">
                <div class="col-sm-10 no-padding-margin">
                    <h5>{{title_product1}}</h5>
                    <h6><b>{{count_product_desc1}}</b> From <span>${{value1_product1}}</span> to <span>${{value2_product1}}</span></h6>
                </div>
                <div class="col-sm-2 no-padding-margin">
                    <a href="" class="btn farm" ng-click="selectTab(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
            <!--                        <div class="col-xs-11 col-sm-11 product_bottom_list">-->
            <div class="col-xs-11 col-sm-11 product_bottom_list" ng-show="isSelected(1)">

                <div class="col-xs-12 col-sm-12 no-padding-margin">
                    <h6>{{title_farm1}} <span>${{value1_product1}}</span></h6>
                    <h6 class="bottom_farm">${{value1_product1}} / lb</h6>
                    <div class="col-xs-12 col-sm-12 no-padding-margin border_button">
                        <div class="col-xs-4 col-sm-4 no-padding-margin">
                            <a href="" class="btn farmer left" ng-click="removeItem()"><i class="fa fa-minus" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-4 col-sm-4 no-padding-margin count_farmer">
                            {{total()}}
                        </div>
                        <div class="col-xs-4 col-sm-4 no-padding-margin">
                            <a href="" class="btn farmer right" ng-click="addItem()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 no-padding-margin">
                    <h6>{{title_farm1}} <span>${{value1_product1}}</span></h6>
                    <h6 class="bottom_farm">${{value1_product1}} / lb</h6>
                    <div class="col-xs-12 col-sm-12 no-padding-margin border_button">
                        <div class="col-xs-4 col-sm-4 no-padding-margin">
                            <a href="" class="btn farmer left" ng-click="removeItem()"><i class="fa fa-minus" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-4 col-sm-4 no-padding-margin count_farmer">
                            {{total()}}
                        </div>
                        <div class="col-xs-4 col-sm-4 no-padding-margin">
                            <a href="" class="btn farmer right" ng-click="addItem()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

      <!--       PRODUCT 02-->
              
        <div class="col-xs-6 col-sm-3">
            <div class="col-xs-11 col-sm-11 product_top">
                <h5>{{title_product2}}</h5>
                <h6 class="bottom_farm">${{value1_product2}} / lb - {{title_farm2}}</h6>
                <figure>
                    <img src="{{image_product2}}" alt="{{title_product2}}">
                </figure>
            </div>
            <div class="col-xs-11 col-sm-11 product_bottom" ng-hide="isSelected(2)">
                <div class="col-sm-10">
                    <h5>{{count_product2}}</h5>
                    <h6><span>${{value1_product2}}</span></h6>
                </div>
                <div class="col-sm-2">
                    <a href="" class="btn farm circle" ng-click="selectTab(2)"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-xs-11 col-sm-11 product_bottom" ng-show="isSelected(2)">
                <div class="col-sm-6">
                    <h5>{{count_product2}}</h5>
                    <h6><span>${{value1_product2}}</span></h6>
                </div>
                <div class="col-sm-6">
                    <div class="col-xs-12 col-sm-12 no-padding-margin border_button">
                        <div class="col-xs-4 col-sm-4 no-padding-margin">
                            <a href="" class="btn farmer left" ng-click="removeItem()"><i class="fa fa-minus" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-4 col-sm-4 no-padding-margin count_farmer">
                            {{total()}}
                        </div>
                        <div class="col-xs-4 col-sm-4 no-padding-margin">
                            <a href="" class="btn farmer right" ng-click="addItem()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>


    </div>



    </div>
</section>

<section class="container-fluid newsletter hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Newsletter</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>Get News, Recipes and Farm-to-Fork tips delivered to your inbox:</p>
            </div>
        </div>
        <div class="row col-sm-6">
            <div class="col-sm-4">
                <md-input-container class="md-block">
                    <label>Your name</label>
                    <input ng-model="user.name" aria-hidden="true">
                </md-input-container>
            </div>
            <div class="col-sm-4">
                <md-input-container class="md-block">
                    <label>Your email</label>
                    <input ng-model="user.email" aria-hidden="true">
                </md-input-container>
            </div>
            <div class="col-sm-4">
                <a href="#" class="btn send">Send me</a>
            </div>
        </div>
    </div>
</section>
<div ng-include="'assets/html/footer.html'"></div>