<div ng-include="'assets/html/header.html'"></div>

<div id="signin">

    <div class="login container-fluid">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <div class="box-content-white container-fluid">

                    <div class="header_details-title tc container-fluid">
                        <div class="col-sm-12">
                            <h1>Forgot you password?</h1>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <p>No problem. Give us your email and we’ll send you an email to change it.</p>
                    </div>

                    <div class="col-xs-12">
                        <div class="container-fluid">
                            <form>
                                <!-- formulario do material design -->
                                <md-input-container class="md-icon-float md-block md-blocks">
                                    <!-- Use floating label instead of placeholder -->
                                    <label>E-Mail</label>
                                    <md-icon md-svg-src="assets/img/ic_email_black_24px.svg" class="name"></md-icon>
                                    <input ng-model="signin.email" type="email">
                                </md-input-container>

                            </form>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <a href="#" class="btn signin">Send</a>
                    </div>

                    <div class="col-xs-12 create-forgot">
                        <p><a href="#/signin-login">Back do Sign in</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div ng-include="'assets/html/footer.html'"></div>